
<div class="card mx-2">
  <div class="card-body">

    <h2 class="titulo">
      vcvzdfasdasdasdasdasd
    </h2>
    <table class="table">
      <tbody>
      <tr *ngFor="let produto of product">
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.descricao}}</td>
        <td>
<!--          <i (click)="editarTarjeta(tarjeta)" class="far fa-edit text-info"></i>-->
<!--          <i (click)="eliminarTarjeta(tarjeta.id)" class="far fa-trash-alt text-danger"></i>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
