





<div class="mx-2">

    <h3 class="mx-2 border-bottom tit">
    Lista de produtos cadastrados
    </h3>
    <table class="table">
      <tbody>
      <tr *ngFor="let produto of product">
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.descricao}}</td>
        <td>
          <button (click)="editarProdutos(produto)"><i  class="bi bi-pencil-square text-info f-5 mx-3"></i></button>
          <button (click)="deletarProdutos(produto.id)" ><i class="bi bi-trash3 text-danger f-5 mx-3"></i></button>
        </td>
      </tr>
      </tbody>
    </table>

</div>

