<h3 class="mx-2 border-bottom">Insira as informações do produto!</h3>

<form [formGroup]="form" (ngSubmit)="decidir()" class="row g-3">
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" required>
          <mat-option value="Brinquedos">Brinquedos</mat-option>
          <mat-option value="Eletrônicos">Eletrônicos</mat-option>
          <mat-option value="Informática">Informática</mat-option>
          <mat-option value="Roupas">Roupas</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2 mx-3">
        <mat-label>Preço</mat-label>
        <input matInput placeholder="Insira..." type="number" class="form-control" formControlName="preco" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-10">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Insira..." type="text" class="form-control" formControlName="descricao" required></textarea>
      </mat-form-field>
  <div class="p-0 m-0" align="center">
    <button mat-raised-button [disabled]="!form.valid" class="btn btn-primary text-white" type="submit"><i class="bi bi-arrow-up-square mx-2 mt-5"></i>Cadastrar</button>
</div>
</form>
